.search-result-heading {
  font-weight: bold;
  font-size: larger;
  margin-top: 1.5em;
}

.search-result-type {
  padding: 6px 12px;
  border-radius: 0px 0px 10px 0px;
  font-weight: 600;
  font-size: small;
  box-shadow: var(--bs-box-shadow-sm);
  cursor: pointer;
  background: var(--bs-primary-bg-subtle);
  color: var(--bs-primary-text-emphasis);
}

.search-detail-label {
  font-weight: bold;
}

.search-highlight {
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color-translucent);
}

.search-result-score {
  font-style: italic;
}

.search-bar-results .list-group-item + .list-group-item {
  margin-top: 20px;
  border-top-width: 1px;
}
