.search-result-heading {
    font-weight: bold;
    font-size: larger;
}

.search-result-type {
    font-size: smaller;
}

.search-detail-label {
    font-weight: bold;
}

.search-highlight {
    background-color: #c0c1c226;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.search-result-score {
    font-style: italic;
}