$primary: blue;

p.api-error {
  white-space: pre;
} 

pre.debug {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

div.datatable-download {
  margin-bottom: 1.5em;
}

@import "~bootstrap/scss/bootstrap";
