$primary: blue;

p.api-error {
  white-space: pre;
} 

pre.debug {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

div.datatable-download {
  margin-bottom: 1.5em;
}

div.datatable-count {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: right;
}

.check-true {
    color: green;
    font-size: 1.2em;
}

.check-false {
    color: lightgray;
    font-size: 1.2em;
}

@import "~bootstrap/scss/bootstrap";
